@import "media-queries";

@font-face {
    font-family: Bariol;
    src: url('../fonts/Bariol.ttf');
}
@font-face {
    font-family: Arial-BoldMT;
    src: url('../fonts/Arial-BoldMT.ttf');
}

.clear { clear: both;  }


html,body,p{
    margin: 0;
    padding: 0;
}

.common-wrapper {
    max-width: 1024px; // for resposive 
    min-width: 320px;
    margin: 0 auto;
    min-height:inherit;
    height: 100%;
    overflow:hidden;
}

.header, .profiles {
    min-height: 125px;
    background: #f56262;
}

.welcome{
    min-height: 150px;
    background: #eb4f4e;
}

.icons{
    min-height: 350px;
    background: #232324;
}

.profiles{
    min-height: 400px;
    background: #6cc372;
}

.footer {
    min-height: 50px;
    background: #232324;
}
