@import "media-queries";

// .WELCOME

.container p{
    font-family:Bariol;
}

.welcome p{
    text-align:center;
    color:white;
}

.welcome{
    box-sizing:border-box;
    padding-top: 35px;
}

.text-main{
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 9px;
}

.text-asmart{
    font-size: 20px;
    font-weight: 400;
}

// .ICONS
.icons-text{
    box-sizing:border-box;
    padding-top: 35px;
    text-align:center;
    height: 30%;
}

.smart_creative{
    font-size: 40px;
    color:white;
    font-weight: 400;
    letter-spacing:6.5px;
}

.this_is{
    font-size: 20px;
    color:#d94948;
}

.icons-items{
    box-sizing:border-box;
    height: 70%;
    width: 100%;
    padding: 25px 0;


    .item{
        box-sizing: border-box;
        position: relative;
        float: left;
        width: 33.3%;
        height: 100%;

        .item-img {
            height: 50%;
            img{
                display: block;
                margin: 0 auto;
                height: 100px;
                width: 100px;
            }
        }

        .item-title, .item-desc{
            width: 75%;
            margin: 0 auto;

            p{
                text-align: center;
            }
        }

        .item-title{
            font-size: 30px;
            color:white;
        }

        .item-desc{
            font-size: 18px;
            color:#e74c3c;
        }

    }
}


// PROFILES

.profile-item{
    position: relative;
    float: left;
    width: 22.5%;
    height: 350px;
    background: #ffffff;
    border-radius:15px;
    margin-right: 1.25%;
    margin-left: 1.25%;
    margin-top:20px;

    .photo{
        box-sizing: border-box;
        padding-top: 10px;
        height: 50%;

        img{
            display: block;
            margin: 0 auto;
            border: 10px solid #6cc372;
            border-radius:1000px;
        }
    }

    .name{
        height: 15%;
        p{
            padding-top: 10px;
            box-sizing: border-box;
            color:#6cc372;
            font-size: 25px;
            font-weight: 400;
            text-align:center;
        }
    }

    .desc{
        height: 10%;
        p{
            font-size: 20px;
            text-align:center;
            color:#e74c3c;
            padding-top: 10px;
        }
    }

    .follow{
        position: relative;
        height: 25%;

        .button{
            position: relative;
            width: 90%;
            height: 40px;
            background: #6cc372;
            top: 20px;
            margin: 0 auto;
            border-radius: 10px;

            img{
                display: block;
                position: absolute;
                top: 50%;
                height: 30px;
                margin-top: -15px;
                margin-left: 5px;
            }
            p{
                font-size: 30px;
                padding-top: 5px;
                color:white;
                text-align: center;
            }
        }
    }
}



@include screen(480px, 768px) {
    .welcome{
        padding: 25px 0;
    }


    .profile-item{
        width: 40%;
        margin: 5% 5%;
    }
}


@include screen(320px, 480px) {
    .welcome{
        padding: 25px 0;
    }

    .profile-item{
        width: 80%;
        margin: 7% 10%;
    }

}


