@import "media-queries";


.footer{
    .text, .sm{
        position: relative;
    }

    .text{
        // box-sizing: border-box;
        width: 70%;
        float: left;
        margin-top: 10px;
        padding-left: 25px;

        strong{
            color: #e74c3c;
        }
        p{
            color: white;
        }
    }

    .sm{
        float: right;
        margin-right: 15px;

        a{
            display: block;
            float: right;
            margin-right: 5px;
            margin-top: 5px;
        }
    }
}

@include screen(320px, 480px) {
    .footer{
        .text, .sm{
            position: static;
            float:none; 
        }

        .text{
            margin: 10px auto;
        }
        
        .sm{
            width: 100%;
            height: 50px;
            text-align:center;
            a{
                float: none;
                display: inline-block;
            }
        }
    }
}
