---
title: Tantos
---
{% extends "layouts/_layout.html" %}

{% block content %}


<!-- .header -->
<div class="header">
    <div class="container">
        <!-- .header__topmenu -->
        <div class="header__topmenu">
            <div class="logo">
                <img src="../img/logo.jpg" alt="logo">
            </div>
            <div class="menu">
                <a href="#" class="menu__link">
                    {{mixins.icon('menu')}} 
                    <span>Menu</span>
                </a>
                <div class="menu__box" style="display:none;">
                    <div class="links">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Our Works</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="break-line"></div>
                    <div class="sm">
                        <ul>
                            <li><a href="#">{{mixins.icon('fb')}}</a></li>
                            <li><a href="#">{{mixins.icon('tw')}}</a></li>
                            <li><a href="#">{{mixins.icon('gl')}}</a></li>
                            <li><a href="#">{{mixins.icon('bl')}}</a></li>
                            <li><a href="#">{{mixins.icon('be')}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.header__topmenu -->
        <!-- .header__content -->
        <div class="header__content">
            <div class="content">
                <h1><span class="white">We design</span>
                    <span class="orange"></span>things</h1>
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                    sed dusmod tempor incididunt ut labore et dolore magna aliqua
                    Uto</p>
                </div>
                <div class="links">
                    <ul>
                        <li><a href="#">Hire us</a></li>
                        <li><a href="#">Our Works</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.header__content -->
    </div>
</div>
<!-- /.header -->

<!-- .services -->
<div class="services">
    <div class="container">
        <div class="service">
            <div class="service__pic">{{mixins.icon('print')}}</div>
            <div class="service__title"><span>print design</span></div>
            <div class="service__desc"><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,que ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo</p></div>
        </div>
        <div class="service">
            <div class="service__pic">{{mixins.icon('web')}}</div>
            <div class="service__title"><span>web design</span></div>
            <div class="service__desc"><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,que ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo</p></div>
        </div>
        <div class="service">
            <div class="service__pic">{{mixins.icon('app')}}</div>
            <div class="service__title"><span>app design</span></div>
            <div class="service__desc"><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,que ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo</p></div>
        </div>
        <div class="service">
            <div class="service__pic">{{mixins.icon('logo')}}</div>
            <div class="service__title"><span>logo design</span></div>
            <div class="service__desc"><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,que ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo</p></div>
        </div>
    </div>
</div>
<!-- /.services -->

<!-- .newsletter -->
<div class="newsletter">
    <div class="container">
        <form action="#">
            <input type="TEXT" class="newsletter__text" placeholder="Enter Your email adress for newsletter">
            <input type="SUBMIT" class="newsletter__btn" value="Subscribe">
        </form>
    </div>
</div>
<!-- /.newsletter -->

<!-- .portfolio -->
<div class="portfolio">
    <div class="default-desc">
        <div class="default-desc__title"><span class="silver">Our</span>
            <span class="orange">Works</span></div>
        <div class="default-desc__text"><p>Utim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat</p></div>
    </div>
    <div class="pf-items">
        <div class="pf-item">
            <div class="item-wrapper">
                <div class="pf-item__title"><span>ABAZOO WEBSITE</span></div>
                <div class="pf-item__desc"><p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat.</p></div>
                <div class="pf-item__btn"><a href="#">Show project</a></div>     
            </div>
        </div>
    </div>
    <div class="pf-more">
        <a href="#">Show more</a> 
    </div>
</div>
<!-- /.portfolio -->

<!-- .reviews -->
<div class="reviews">
    <div class="slider">
        <div class="slide">
            <div class="slide__pic">
                <img src="review1" alt="review1">
            </div>
            <div class="slide__desc">
                <p>These guys are incredible! I get my project in 10 days and it was awesome!
                Very good service! Highly recommended!</p>
            </div>
            <div class="slide__author"><p>John Smith</p></div>
        </div>
    </div>
</div>
<!-- /.reviews -->

<!-- .team -->
<div class="team">
    <div class="container">
        <div class="default-desc">
            <div class="default-desc__title"><span class="silver">Our</span>
                <span class="orange">Team</span></div>
            <div class="default-desc__text"><p>Utim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat</p></div>
        </div>
        <div class="people">
            <div class="person">
                <div class="person__pic"><img src="" alt=""></div>
                <div class="person__name"><span>Catherina Gail </span></div>
                <div class="person__contacts">
                    <ul>
                        <li><a href="#">{{mixins.icon('person_fb')}}</a></li>
                        <li><a href="#">{{mixins.icon('person_tw')}}</a></li>
                        <li><a href="#">{{mixins.icon('person_gl')}}</a></li>
                    </ul>
                </div>
                <div class="person__desc">
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
                </div>
            </div>  
            {#         more persons      #}
        </div>
        <div class="people_clicks">
            <div class="click"></div>
            <div class="click active_click"></div>
            <div class="click"></div>
            <div class="click"></div>
        </div>
    </div>
</div>
<!-- /.team -->

<!-- .say_hello -->
<div class="contact">
    <div class="container">
        <div class="default-desc">
            <div class="default-desc__title"><span class="white">Say</span>
                <span class="orange">Works</span></div>
            <div class="default-desc__text"><p>Utim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat</p></div>
        </div>
        <div class="contact__form">
            <form action="#">
                <input class="contact-email" type="TEXT">
                <input class="contact-subject" type="TEXT">
                <input class="contact-msg" type="TEXT">
                <input class="contact-btn" type="SUBMIT">
                <div class="sm">
                    <ul>
                        <li><a href="#">{{mixins.icon('fb')}}</a></li>
                        <li><a href="#">{{mixins.icon('tw')}}</a></li>
                        <li><a href="#">{{mixins.icon('gl')}}</a></li>
                        <li><a href="#">{{mixins.icon('bl')}}</a></li>
                        <li><a href="#">{{mixins.icon('be')}}</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
    <!-- /.say_hello -->

    <!-- .footer -->
    <div class="footer">
        <div class="container">
            <div class="text-left"><p>2015 Copyright design studio</p></div>
            <div class="text-right"><p>Design by<a href="$">Symu</a><span>.</span> </p></div>   
        </div>
    </div>
    <!-- /.footer -->







    {# variable example #}
    {# <h1>{{title}}</h1> #}


    {# partial example #}
    {# {% include "partials/_header.html" %} #}

    {# mixin example #}
    {# {{mixins.icon('facebook')}} #}


    {# data usage example #}
    {# {% import "data/data.html" as tests %} #}

    {# {% for test in tests.list %} #}
    {# <li>{{test.title}}</li> #}
    {# {% endfor %} #}
    {# end of example #}

    {% endblock %}
