.icon-app {
  width: 0.59em;
  height: 1em;
  fill: initial;
}
.icon-ba_sm {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-be_sm {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-fb_sm {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gl_sm {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 0.62em;
  height: 1em;
  fill: initial;
}
.icon-menu {
  width: 1.3em;
  height: 1em;
  fill: initial;
}
.icon-print {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.icon-tw_sm {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-web {
  width: 1.21em;
  height: 1em;
  fill: initial;
}
