.clients{
    position: relative;
    width: 100%;
    height: 170px;
    text-align:justify;
}

.client-block {
    width: 19%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.client-block a{
    padding: 0;
    display: block;
    margin: 0 auto;
    max-width: 120px;
    position: relative;
    height: 100px;
    transition: all .5s  ease;
}

.client-block img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.client-block a:hover{
    transform: scale(0.9);
}


@media screen and (min-width: 480px) and (max-width:768px){
    .client-block img{
        display: block;
        max-width: 90px;
    }
}


@media screen and (min-width: 300px) and (max-width:480px){
    .clients{
        text-align:center;
        height: 250px;
    }

    .client-block{
        width: 30%;
        height: 40%;
    }

    .client-block img{
        display: block;
        max-width: 80px;
    }

}

