footer{
    box-sizing: border-box;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 10px 15px ;
    height: 300px;
    background: url("../images/bg-body2.jpg") 0 0 repeat;
}

footer ul , footer li{
    margin: 0;
    padding: 0;
    list-style: none;
}
footer > .wrapper{
    width: 100%;
    max-width: 960px;
    height: 80%;
    position: relative;
    margin: 0 auto;
    box-sizing:border-box;
    padding-top: 3%;
}

footer > .wrapper > div{
    position: relative;
    float: left;
    top: 0;
    width: 33.33%;
    box-sizing:border-box;
    padding-left: 10%;
}


footer > .wrapper > div:first-child{
    padding-left: 5%;

}
.wrapper a,span,.desc_text{
    font-size: 0.8em;
}


.wrapper h2,h3{
    color:white;
}
.wrapper h2{
    font-weight: bold;
}
.wrapper .desc_text {
    color: #ADADAD;
    margin-bottom: 3%;
}

.wrapper .desc_copyrigth,.wrapper .desc_copyrigth a{
    color: white;
}


.wrapper > .links a{
    color: #ADADAD;
    text-decoration: none; 
}
.wrapper > .links a:hover{
    text-decoration:  underline;
}

.wrapper > .links .links1 ,.wrapper > .links .links2{
    position: relative;
    float: left;
}
.wrapper > .links .links2{
    margin-left: 5%;
}

.wrapper > .follow a{
    font-size:1em;
    display: block;
    color:white;
    text-decoration:none;
}

.wrapper > .follow span{
    margin-left: 3%;
}

.wrapper > .follow img{
    vertical-align:middle;
}


@media screen and (min-width: 480px) and (max-width:768px){
    .wrapper > .links .links1 ,.wrapper > .links .links2{
        float:none;
    }

    .wrapper > .links .links2{
        margin-left: 0;
        margin-top: 5%;
    }
}

@media screen and (min-width: 300px) and (max-width:480px){

    footer{
        height: 550px;
    }

    footer > .wrapper > div{
        display: block;        
        width: 100%;
        margin-bottom: 10%;
        padding-left: 10%;
   }

}
