.services{
    height: 220px;
    margin-top: 15px;
}


.services_block {
    position: relative;
    display: inline-block;
    float: left;
    width: 18%;
    height: 95%;
    background: #000;
    margin-right: 2.5%;
    margin-left: 0;
    background: url("../images/bg-body2.jpg") 0 0 repeat;
}

.services_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}
.services_block:last-child{
    margin-right: 0;
}

.services_block  img{
    display: block;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    margin: auto ;
}

.services_block > a:hover > img:nth-of-type(2){
    opacity: 1;
    transition:  opacity 0.4s ease-in;
}

.services_block  img:nth-of-type(2){
    opacity: 0;
    transition:  opacity 0.4s ease-out;
}

.services_block > a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.services_block span{
    position: absolute;
    color: white;
    bottom: 13%;
    width: 100%;
    text-align: center;
    font-size:  1.6em;
    opacity: 0.9;

}

@media screen and (min-width: 480px) and (max-width:768px){
    .services{
        height: 350px;
    } 
    .services_block {
        width: 23%;
        height: 45%;
        margin: 2.5px 5%;
    }
    .services_block img{
        top: 10%;
        width: 71px;
        height: 71px;
    }
    .services > .services_block:nth-of-type(4){
        margin-left: 20%;
    }
    .services_block span{
        font-size: 1.2em;
    }
    .services_block > a:hover > img:nth-of-type(2){
        opacity:0;
    }
}


@media screen and (min-width: 300px) and (max-width:480px){
    .services{
        height: 250px;
    } 
    .services_block {
        width: 25%;
        height: 47%;
        margin: 2.5px 4%;
    }
    .services_block img{
        top: 10%;
        width: 51px;
        height: 51px;
    }
    .services > .services_block:nth-of-type(4){
        margin-left: 20%;
    }
    .services_block span{
        font-size: 0.8em;
    }
    .services_block > a:hover > img:nth-of-type(2){
        opacity:0;
    }

}
