.slider{
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}


.slider > input{
    display: none;
}
.slider_images{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.slider_images  img {
    display: block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 0;
    opacity:0;
    display: none;
}

.image_description p{
    display: none;
}

.slider_switcher {
    position: absolute;
    width: 20%;
    height: 15%;
    bottom: 0;
    box-sizing: border-box;
    z-index: 1;
    margin-left: 3%;
}

.slider_switcher > label{
    display: block;
    float: left;
    background: gray;
    border-radius: 15px;
    width: 9%;
    height: 25%;
    margin-top: 13%;
    margin-left: 2%;
    cursor: pointer;
}


.image_description{
    position: absolute;
    width: 100%;
    height:15%;
    background: rgba(255,255,255, 0.6);
    bottom:0;
}
.image_description  > p{
    float: right;
    width: 70%;
    height: 100%;
    font-size: 1.5em;
    vertical-align: middle;
    padding: 2%;
    box-sizing: border-box;
}


#slide1:checked ~ .slider_switcher > label:nth-of-type(1),
#slide2:checked ~ .slider_switcher > label:nth-of-type(2),
#slide3:checked ~ .slider_switcher > label:nth-of-type(3){
    background: black;
} 


#slide1:checked ~ .slider_images > img:nth-of-type(1),
#slide2:checked ~ .slider_images > img:nth-of-type(2),
#slide3:checked ~ .slider_images > img:nth-of-type(3){
    display: block;
    opacity:1; 
} 

#slide1:checked ~ .image_description > p:nth-of-type(1),
#slide2:checked ~ .image_description > p:nth-of-type(2),
#slide3:checked ~ .image_description > p:nth-of-type(3){
    display: table-cell;
} 

@media screen and (max-width: 768px){
    .image_description  > p{
        font-size:  1.2em;
    } 
}
@media screen and (max-width: 540px){
    .image_description  > p{
        font-size:  1.0em;
        padding: 1.5%;
    } 
}
@media screen and (max-width: 320px){
    .image_description  > p{
        padding: 0.8%;
        font-size:  0.5em;
    } 
}
