@import "media-queries"

.clearfix::after
  content: ""
  display: table
  clear: both

body
  margin: 0
  padding: 0

.wrapper--center
  max-width: 1024px
  min-width: 320px
  min-height: inherit
  margin: 0 auto


+font(pacifico, 'Pacifico')
+font(hevletica_medium, 'HelveticaNeue-Medium')
+font(hevletica_italic, 'HelveticaNeue-Italic')
+font(hevletica_regular, 'HelveticaRegular')
+font(raleway_semibold, 'Raleway-SemiBold')


=pacifico
  font-family: pacifico, sans-serif
=hevletica_regular
  font-family: hevletica_regular, sans-serif
=hevletica_medium
  font-family: hevletica_medium, sans-serif
=hevletica_italic
  font-family: hevletica_italic , sans-serif
=raleway_semibold
  font-family: raleway_semibold, sans-serif
