.first_selection
  min-height: 350px

.items
  display: flex
  flex-direction: row
  margin-top: 20px
  +screen(320px, 480px)
    display: block

.item
  min-height: 300px
  text-align: center
  div
    margin: 20px auto
  &__img
    width: 100px
    height: 100px
    background: #2ecc71
    background-position: center
    display: flex
    align-items: center
    justify-content: center
    border-radius: 100px
  &__title
    +raleway_semibold
    font-size: 1.1em
  &__desc
    +hevletica_regular
    padding: 0 10px
    color: #848484
    +screen(320px, 480px)
      padding: 0 40px
  +screen(320px, 480px)
    min-height: 200px
    margin-bottom: 45px
    div
      margin: 0 auto
