@import media-queries


=font($alias,$name)
  @font-face
    font-family: $alias
    src: url("../fonts/"+ $name + ".ttf") format("truetype"), url("../fonts/"+ $name + ".otf") format("opentype"), url("../fonts/"+ $name + ".woff2") format("woff2"), url("../fonts/"+ $name + ".woff") format("woff");
    font-weight: normal
    font-style: normal

