.third_section
  min-height: 450px
  /* background: #000 */

.quote
  padding-top: 20px
  text-align: center
  &__text
    +hevletica_italic
    font-size: 18px
    line-height: 30px
    color: #848484
    padding: 5px 15px
  &__author
    +raleway_semibold
    font-weight: 700
    line-height: 20px

.photos
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-top: 30px
  img
    z-index: 1
  div
    width: 51px
    height: 51px
.sm
  margin-top: 50px
  text-align: center
  &__title
    +raleway_semibold
    font-weight: 400
    font-size: 24px
    line-height: 24px
    color: #000000
  &__text
    +hevletica_regular
    font-size: 16px
    line-height: 26px
    color: #848484    
  &__icons
    ul
      list-style: none
      li, a
        border-radius: 50px
        width: 34px
        height: 34px
      li
        display: inline-block
        background: #c5c5c5
        margin: 0 5px
        &:hover
          background: #2ecc71
        a
          display:  inline-block


.vk
  background: url("../img/sm1.png") no-repeat center
.fb
  background: url("../img/sm2.png") no-repeat center
.dm
  background: url("../img/sm3.png") no-repeat center
.gl
  background: url("../img/sm4.png") no-repeat center
.ln
  background: url("../img/sm5.png") no-repeat center
.yt
  background: url("../img/sm6.png") no-repeat center









